* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson text';
}

header {
    height: 400px;
    background-image: url(https://images.pexels.com/photos/618773/pexels-photo-618773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

h1 {
    color: #8B0020;
    text-align: right;
    margin-top: 200px;
    font-size: 60px;
    margin-right: 30px;
    font-family: 'crimson text';
}

nav ul {
    display: flex;
    background-color: rgba(28, 28, 28, 0.5);
    align-items: center;
    justify-content: center;
    list-style: none;

}

nav ul li a {
    color: #ffffff;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: .5s;
    width: 200px;
    text-align: center;
    font-family: 'crimson text';
}

nav ul li a:hover {
    color: #1c1c1c;
    background-color: #c0c0c0;
    padding: 15px;
    border-radius: 30px;
}

.logo {
    width: 500px;
}

.mov {
    margin-top: -120px;
    margin-left: -50px;
}

.local {
    height: 150px;
    background-color: #8B0020;
    margin-top: 80px;
    width: 100%;
}

.contact {
    font-size: 20px;
    padding: 15px 15px 15px 0px;
    font-family: 'crimson text';
    color: #c0c0c0;
}

.local {
    display: flex;
}

.local ul {
    color: #c0c0c0;
    font-size: 16px;
    padding: 15px;
    list-style-type: none;
}

.local ul li {
    color: #c0c0c0;
    list-style: none;
}

.redes ul {
    display: flex;

}

.redes ul li {
    padding: 20px;
    font-family: 'crimson';
    font-size: 18px;
    color: #c0c0c0;
    list-style: none;
}

.redes ul li a {
    background-color: #c0c0c0;
    text-decoration: none;
    color: black

}

.copyrigth {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #41424c;
    color: #ffffff;
    font-family: 'crimson text';
    font-size: 16px;
}